/*
Project Name: LunchBox
Class: JavaScript Development
Type: Final Project
Author: Annie Davis
School: General Assembly NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Style the header */
html {
  margin: 0;
}

body {
  margin: 0;
}

.indexBG {
  background-image: url(images/Veggies.JPG);
  background-size: cover;
  background-attachment: fixed;
}

.textbox {
  text-align: center;
  width: 100 auto;
  padding: 70px;
  border-style: none;
}

.container1 {
  line-height: .8;
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  background-color: rgba(153,51,0,0.75);
  font-family: 'Lobster', cursive;
  color: #f1f1f1;
  font-size: 100px;
  font
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 10px;
  background: #b33c00;
  color: #f1f1f1;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  padding: 10px 10px;
}

/* Page content */
.content {
  padding: 0px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 10px;
  background: #b33c00;
  color: #f1f1f1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.nav {
  float: right;
  display: block;
  padding-bottom: px;
  font-size: 20px;
}

.navlink {
  padding: 0px 20px 0px 20px;
  color: #f1f1f1;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navlink:hover {
  background-color: #ffe0b3;
  color: #b33c00;
  padding-top: 100%;
  padding-bottom: 10%;
}

.navlink:active {
  background-color: #afffff;
  color: #000000;
}

.title-link {
  color: #f1f1f1;
  text-decoration: none;
}

.logo, .nav {
  display: inline;
}

.AboutUS {
  background-color: rgba(153,51,0,0.75);
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f1f1f1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.breakimg {
  background-image: url(images/Veggies.JPG);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;

}
.abtTxt {
  background-color: rgba(153,51,0,0.75);
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f1f1f1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 50px;
}

.container3 {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  padding-top: 50px;
  width: 1080px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.container > h2 {
  margin-bottom: 40px;
}
.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100vh
}

.form-container{
  margin: 0;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(153,51,0,0.75);
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f1f1f1;
  width: 85%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 65px;
}

#update-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 1.2rem;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 5px;
  height: fit-content;
  background-color: rgba(153,51,0,0.75);
}

#recipe-form input, #update-recipe-form input {
  padding: 5px;
  width: 300px;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-bottom: 5px;
}

#recipe-form button, #update-recipe-form button {
  margin-left: 20px;
  padding: 5px;
  width: 300px;
  font-weight: bold;
  background: #818194;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  padding: 7px;
}

.recipes {
  display: inline-block;
  flex-wrap: wrap;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe {
  background-color: rgba(63, 191, 191, 0.5);
  border: 1px;
  border-radius: 10px;
  padding: 10px;
  min-width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 50px;
}

.recipe .recipe-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.recipe .actions {
  margin-top: 5px;
}

.cancel-edit {
  margin-top: 5px;
}
